/* Split the screen in half */

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */

.left {
    left: 0;
    background-color: rgb(235, 185, 93)
    /* background: url('../images/spiration-light2.png'); */
    /* repeat: none; */
}

/* Control the right side */

.right {
    right: 0;
    background-color: rgb(104, 172, 235)
    /* background: url('../images/spiration-dark.png'); */
    /* repeat: none; */
}

/* If you want the content centered horizontally and vertically */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */

.centered img {
    width: 150px;
    border-radius: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(168, 203, 235);
    color: white;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-family: 'Roboto Mono', monospace;
    /* font-size: 20px; */
}

.navbar {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(168, 203, 235);
    color: white;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-family: 'Roboto Mono', monospace;
    /* font-size: 20px; */
}

.navbar-brand {
    color: white;
    font-family: 'Roboto Mono', monospace;
    /* font-size: 20px; */
}