body,
html {
    background-color: rgb(235, 202, 142);
}

#cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#city-info-panel {
    padding-top: 30px;
    opacity: 0.8;
    background: white;
    margin: 20px;
}

#city-image-panel {
    padding-top: 30px;
    opacity: 0.8;
    background: white;
    margin: 20px;
}

.tab button {
    background-color: rgb(235, 202, 142);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

h3 {
    text-align: center;
}

/* Change background color of buttons on hover */

.tab button:hover {
    /* background-color: #ddd; */
    background-color: rgb(235, 185, 93);
}

/* Create an active/current tablink class */

.tab button.focus,
.tab button.active {
    /* background-color: #ccc; */
    background-color: rgb(235, 185, 93);
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(168, 203, 235);
    color: white;
    text-align: center;
    /* padding-top: .5rem;
    padding-bottom: .5rem; */
    font-family: 'Berkshire Swash', monospace;
    /* font-size: 20px; */
}

.navbar {
    background-color: rgb(168, 203, 235);
    color: white;
    text-align: center;
    /* padding-top: .5rem;
    padding-bottom: .5rem; */
    font-family: 'Berkshire Swash', monospace;
    /* font-size: 20px; */
}

.navbar-brand {
    color: white;
    font-family: 'Berkshire Swash', monospace;
    /* font-size: 20px; */
}