body,
html {
    overflow-y: scroll;
    min-height: 100%;
    margin: 0;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background: linear-gradient(to bottom right, #026670, #9FEDD7, #ffffff);
    font-family: 'Varela', monospace;
    font-size: 18px;
}

h4{
    text-align: center;
}

.btn{
    background-color: #026670;
    color: #ffffff;
}

.input-group-btn {
    background-color: #026670;
    color: #ffffff;
}

#doko {
    font-family: 'Berkshire Swash', monospace;
    font-size: 50px;
}

#cityImage {
    align-content: center;
}

.city-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

#city-info-panel {
    padding-top: 30px;
    opacity: 0.8;
    background: white;
    margin: 20px;
}

#city-image-panel {
    padding-top: 30px;
    opacity: 0.8;
    background: white;
    margin: 20px;
}

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    /* background-color: linear-gradient(to right, #FCE181, #FEF9C7);
    background-color: #FCE181; */
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons */

.tab button:hover {
    background-color: rgb(235, 199, 133);
}

.tab button:focus {
    background-color: rgb(233, 177, 74);
}

/* Style the tab content */

.tablinks{
    font-family: 'Varela';
    font-size:20px;
    font-weight: bold;
}

a, href{
    color: #01545c;
    font-family: 'Varela';
}

h3,h2{
    text-align:center;
    font-family: 'Varela';
}

#stats{
    font-family: 'Varela';
}

.tabcontent {
    display: none;
    padding-left:50px;
    padding-right:50px;
    border: 1px solid #ccc;
    border-top: none;
    font-family: 'Varela';
    font-size: 20px;
    padding-bottom: 60px;
}

.tab-header{
    font-family: 'Varela';
    font-size:22px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    /* padding-top: .5rem;
    padding-bottom: .5rem; */
    font-family: 'Roboto Mono', monospace;
    margin-top: 40px;
    /* font-size: 20px; */
}

.tab-header {
    font-family: 'Varela';
}

.navbar {
    color: white;
    text-align: center;
    /* padding-top: .5rem;
    padding-bottom: .5rem; */
    font-family: 'Roboto Mono', monospace;
    /* font-size: 20px; */
}

.navbar-brand {
    color: white;
    font-family: 'Roboto Mono', monospace;
    /* font-size: 20px; */
}

.city-name {
    text-transform: capitalize;
    text-size: 20px;
}

td {
    font-family: 'Varela', monospace;
}

#logo-btn {
    font-family: 'Roboto Mono';
    font-size: 18px;
}

#logo-btn:visited {
    color: #ffffff;
}

#logo-btn:hover {
    color: #FCE181;
}

#logo-btn:active {
    color: #FEF9C7;
}