body,
html {
    background-color: rgb(235, 202, 142);
}

#job-panel {
    padding-top: 30px;
    opacity: 0.8;
    background: white;
}

#job-search-title,
#job-listings {
    text-align: center;
}

.jumbotron {
    padding: 60px;
    margin: 60px 20px 20px 20px;
    height: 100%;
}