/* 
dark teal #026670
lighter teal #9FEDD7
beige #FEF9C7
orange #FCE181
grey #EDEAE5 */


/* #inspirational-quote {
	margin-top: 80px;
} */

.jumbotron {
	margin-top: 60px;
	padding-bottom:10px;
	height: 100%;
	background: rgb(245, 240, 240);
	opacity: 0.75;
	text-align: center;
}

#quote{
	font-family: 'Roboto Mono', sans-serif;
	font-size: 20px;
	padding-left:70px;
	padding-right:70px;
}

#enter-button{
	background-color: #026670;
	color: #ffffff;
}
.btn{
	font-family: 'Roboto Mono';
	margin-right:auto;
	margin-left:auto;
	align:center;
	opacity:1.0;
}

#doko{
	font-family:'Berkshire Swash',monospace;
	font-size:100px;
	text-align:center;
}

#lead{
	text-align:center;
	font-family: 'Roboto Mono';
	font-size:22px;
	color:#026670;
}

#author {
	font-family: 'Tangerine', monospace;
	font-size: 36px;
	text-align:right;
	padding-right:200px;
	clear: both;
}

#cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}