#myBtn{

}

#inspirational-quote{
	font-size:14px;
	color: #4d4d33;
}

#author{
	font-style: italic;
	color: #c2c2a3;
}


body {
   background-image: url("../images/front-2.jpeg");
   background-color: #cccccc;
}

/*need to make images smaller, all sized to window for entry page*/


/*add media queries here (I forgot how lol)*/
